@import "tailwindcss";

:root {
    --background: #EAEBEF;
    --foreground: #F7F7F7;
    --primary: #9168FC;
    --secondary: #22d067;
    --text-primary:#0a0a0a;
    --text-secondary: #3e3e40;
    --font-sans: 'Plus Jakarta Sans', sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-text-primary: var(--text-primary);
    --color-text-secondary: var(--text-secondary);
    --font-sans: var(--font-sans);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #1a1b23;*/
/*    --text-header:#EAEBEF;*/
/*    --text-desc:#F7F7F7;*/
/*    --primary: #7a4de0;*/
/*    --secondary: #89cc33;*/
/*  }*/
/*}*/

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), sans-serif;
}
